--extra-index-url https://download.pytorch.org/whl/cu126

torch==2.14.0+cu126
torchvision==0.29.0+cu126
langchain-text-splitters==1.1.2
langchain==1.4.0
langchain-chroma==1.1.0
langchain-core==1.6.2
langchain-huggingface==1.2.2
langchain-ollama==1.1.0
fastapi==0.141.1
sentence-transformers==6.0.1